.f-s-menu
{
	cursor:default;
}

.f-s-menu .f-s-item-pad
{
	display:inline-block;
	background-image:url(imgs/menu.gif);
	background-repeat:repeat-y;
	padding:0px 0px 0px 5px;
	border:1px solid #718bb7;
	position:absolute;
	white-space:nowrap;
}

.f-s-menu .f-s-item-collapse .f-s-item-pad
{
	display:none;
}

.f-s-menu .f-s-item
{
	padding: 5px 20px 5px 0px;
}

.f-s-menu .f-s-item-parent
{
	background-image:url(imgs/menu-parent.gif);
	background-position: right center;
	background-repeat:no-repeat;
}

.f-s-menu .f-s-item-icon
{
	margin-right:10px;
}

.f-s-menu .f-s-item-text:hover,.f-s-menu .f-s-item:hover
{
	color:Blue;
}